<template>
    <div class=" position-fixed" style=" bottom: 30px; right: 30px; display: none;" @click="toTop" id="myBtn">
        <div class=" position-relative">
            <i class="fas fa-chevron-up text-white position-absolute"></i>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            toTop: function () {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        },
        mounted() {
            window.onscroll = function () {
                // button to top
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    document.getElementById("myBtn").style.display = "block";
                } else {
                    document.getElementById("myBtn").style.display = "none";
                }

                // sticky menu
                var header = document.getElementById("myHeader");
                var sticky = header.offsetTop;

                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            };
        },
    }
</script>

<style scoped>


    div {
        cursor: pointer;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background-color: #434345;
    }

    .fa-chevron-up {
        top: 18px;
        left: 18px;
    }
</style>