<template>
    <div>
        <header class="bgr__image--header">
            <!-- Img TRADACO -->
            <div class="container d-none d-xl-block">
                <div class="row">
                    <div class="col-12 p-0">
                        <img src="http://tradaco.123corp.com.vn/data/upload/tradaco-vi.png" alt="">
                        <img src="http://tradaco.123corp.com.vn/data/upload/logo.png" alt="" style="width:230px">
                    </div>
                </div>
            </div>
            <!-- Navbar -->
            <div class="container-fluid position-relative">
                <div class=" position-absolute"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-xl navbar-light bg-light ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse bgr--color  position-relative"
                                    id="navbarNavDropdown">
                                    <ul class="navbar-nav nav__polygon--bgr">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                TRANG CHỦ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                GIỚI THIỆU
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                DỊCH VỤ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                MẠNG LƯỚI
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                LIÊN HỆ
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                THÔNG TIN
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                                <a class="dropdown-item" href="#">
                                                    Dịch Vụ Liên Kết
                                                </a>
                                                <a class="dropdown-submenu">
                                                    <a class="dropdown-item" href="#">
                                                        Thông Tin
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item">
                                                            Kích Thước Container
                                                        </li>
                                                        <li class="dropdown-item">
                                                            Bảng Quy Đổi Đơn Vị
                                                        </li>
                                                        <li class="dropdown-item">
                                                            Hàng Quá Khổ / Quá Tải
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                TIN TỨC
                                            </a>
                                            <div class="dropdown-menu overflow-hidden" aria-labelledby="navbarDropdownMenuLink2">
                                                <a class="dropdown-item" href="#">
                                                    Hoạt Động TRADACO JSC
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Tin Nội Địa
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Tin Thế Giới
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                TUYỂN DỤNG
                                            </a>
                                        </li>
                                        <li class="icon-wrap py-2" style="width:50px">
                                            <i class="fas text-white transition-03" @click="checkSearch"
                                                :class=" getSearch ? 'fa-times' : 'fa-search' "></i>
                                        </li>
                                    </ul>
                                    <div class="position-absolute"></div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a to="">
                            <img class="icon__translate--size"
                                src="http://tradaco.123corp.com.vn/template/Default/img/ic-vn.png" alt="">
                        </a>
                        <a to="">
                            <img class="icon__translate--size"
                                src="http://tradaco.123corp.com.vn/template/Default/img/ic-en.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <input type="text" id="form-search-nav" value="TÌM KIẾM" :class=" getSearch ? 'd-block' : 'd-none' "
                class="form--search">
        </header>
    </div>
</template>

<style scoped>
    .bgr__image--header {
        background-image: url("http://tradaco.123corp.com.vn/template/Default/img/top-bg.png");
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .icon__translate--size {
        width: 40px;
        height: 25px;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .navbar {
        padding: 0px;
        padding-left: auto;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

    li {
        cursor: pointer;
        background-color: #e0b926;
    }

    .nav-link {
        color: #660000;
    }

    .form--search {
        position: absolute;
    }

    .nav__polygon--bgr {
        -webkit-clip-path: polygon(0 0, calc(100% - 36px) 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, calc(100% - 36px) 0, 100% 100%, 0% 100%);
        background-color: #e0b926;
    }

    .container-fluid>.position-absolute {
        position: absolute;
        width: 80vw;
        height: 100%;
        top: 0;
        right: 50%;
        background-color: #e0b926;
        z-index: 0;
    }
</style>

<script>
    export default {
        data() {
            return {
                getSearch: false,
            }
        },
        methods: {
            checkSearch() {
                this.getSearch = !this.getSearch;
            },
        }
    }
</script>