<template>
    <div>
        <div class="d-lg-none navbar-responsive">
            <div class="d-flex justify-content-between">
                <div >
                    <button class="text-left" @click="IsShowSideBar = !IsShowSideBar">☰</button>
                    <div v-if="IsShowSideBar" class="overflow:auto">
                        <ul class="position-absolute" style="width:300px;padding-inline-start: 00px; ; background-color:#88D6FA;" id="sidebar-left">
                            <li style="height:60px" class="bg-dark pl-2 text-center text-danger">
                                CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI-DỊCH VỤ TRADACO
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    TRANG CHỦ
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    GIỚI THIỆU
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    DỊCH VỤ
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    MẠNG LƯỚI
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    LIÊN HỆ
                                </a>
                            </li>
                            <li class="dropdown position-relative">
                                <div href="" class="text-white pl-3" @click="IsShowDropdown = !IsShowDropdown"
                                    style="cursor: pointer;">
                                    THÔNG TIN
                                    <i class="fas fa-sort-down pb-1" @click="fa-sort-down"></i>
                                </div>
                                <div v-if="IsShowDropdown">
                                    <div>
                                        <a href="" class="text-white pl-5">
                                            <i class="fas fa-chevron-right"></i>
                                            Dịch Vụ Liên Kết
                                        </a>
                                    </div>
                                    <div>
                                        <a href="" class="text-white pl-5">
                                            <i class="fas fa-chevron-right"></i>
                                            Thông Tin
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown position-relative">
                                <div href="" @click="IsShowDropdown1 = !IsShowDropdown1" style="cursor: pointer;" class="text-white pl-3">
                                    <div href="">
                                        TIN TỨC
                                    <i class="fas fa-sort-down pb-1"></i>
                                    </div>
                                </div>
                                <ul v-if="IsShowDropdown1">
                                    <li>
                                        <a href="" class="text-white pl-1" >
                                            <i class="fas fa-chevron-right"></i>
                                            Hoạt Động TRADACO JSC
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="text-white pl-1">
                                            <i class="fas fa-chevron-right"></i>
                                            Tin Nội Địa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="text-white pl-1">
                                            <i class="fas fa-chevron-right"></i>
                                            Tin Ngoại Địa
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="text-white pl-3">
                                    TUYỄN DỤNG
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-center">
                    <b>
                        TRANG CHỦ
                    </b>
                </div>
                <button>
                    <i class="fas fa-ellipsis-v"></i>
                    <div>
                        
                    </div>
                </button>
            </div>
        </div>
        <div class="bgr-img-header d-lg-block">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <div class="">
                        <img src="http://tradaco.123corp.com.vn/data/upload/tradaco-vi.png" alt="">
                    </div>
                    <div class="">
                        <img class="img-width" src="http://tradaco.123corp.com.vn/data/upload/logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="myHeader"
                style="background: linear-gradient(to right,  #e0b926 0%,#e0b926 50%,#f6f6f6 50%,#f6f6f6 100%);">
                <div class="d-flex justify-content-center">
                    <div class="bgr-navbar">
                        <div class="d-flex flex-row-reverse position-relative collapse">
                            <nav class="navbar navbar-expand-lg ">
                                <div>
                                    <ul class="navbar-nav">
                                        <li class="nav-item active py-3">
                                            <a href="">
                                                TRANG CHỦ
                                            </a>
                                        </li>
                                        <li class="nav-item py-3">
                                            <a href="">
                                                GIỚI THIỆU
                                            </a>
                                        </li>
                                        <li class="nav-item py-3">
                                            <a href="">
                                                DỊCH VỤ
                                            </a>
                                        </li>
                                        <li class="nav-item py-3">
                                            <a href="">
                                                MẠNG LƯỚI
                                            </a>
                                        </li>
                                        <li class="nav-item py-3">
                                            <a href="">
                                                LIÊN HỆ
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown position-relative py-3">
                                            <a href="">
                                                THÔNG TIN
                                                <i class="fas fa-sort-down pb-1"></i>
                                            </a>
                                            <ul class="dropdown-child1st">
                                                <li class=" dropdown-item">
                                                    <a href="" class="text-body">
                                                        Dịch Vụ Liên Kết
                                                    </a>
                                                </li>
                                                <li class="position-relative dropdown-item dropdown-child2nd">
                                                    <a href="" class="text-body">
                                                        <i class="fas fa-chevron-right"></i>
                                                        Thông Tin
                                                        <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                    <ul class=" dropdown-content">
                                                        <li class="py-3">
                                                            <a href="" class="text-body">
                                                                <i class="fas fa-chevron-right"></i>
                                                                Kích Thước Container
                                                            </a>
                                                        </li>
                                                        <li class="py-3">
                                                            <a href="" class="text-body">
                                                                <i class="fas fa-chevron-right"></i>
                                                                Bảng Quy Đổi Đơn Vị
                                                            </a>
                                                        </li>
                                                        <li class="py-3">
                                                            <a href="" class="text-body">
                                                                <i class="fas fa-chevron-right"></i>
                                                                Hàng Quá Khổ / Quà Tải
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown nav-item position-relative py-3">
                                            <a href="">
                                                TIN TỨC
                                                <i class="fas fa-sort-down pb-1"></i>
                                            </a>
                                            <ul class="dropdown-child1st">
                                                <li class="py-3">
                                                    <a href="" class="text-body">
                                                        <i class="fas fa-chevron-right"></i>
                                                        Hoạt Động TRADACO JSC
                                                    </a>
                                                </li>
                                                <li class="py-3">
                                                    <a href="" class="text-body">
                                                        <i class="fas fa-chevron-right"></i>
                                                        Tin Nội Địa
                                                    </a>
                                                </li>
                                                <li class="py-3">
                                                    <a href="" class="text-body">
                                                        <i class="fas fa-chevron-right"></i>
                                                        Tin Ngoại Địa
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="py-3 nav-item">
                                            <a href="">
                                                TUYỂN DỤNG
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="py-3 nav-item clip-path-navbar bgr-navbar pr-3">
                        <i class="fas fa-search text-white pr-2 pl-3">
                        </i>
                    </div>
                    <div class="d-flex flex-row pb-3 pt-2 px-xl-5 px-lg-2">
                        <div>
                            <img class="translate-icon pr-2"
                                src="http://tradaco.123corp.com.vn/template/Default/img/ic-vn.png" alt="">
                        </div>
                        <div>
                            <img class="translate-icon pl-2"
                                src="http://tradaco.123corp.com.vn/template/Default/img/ic-en.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<style scoped>
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .img-width {
        width: 230px;
        height: auto;
    }

    .bgr-img-header {
        background-image: url('http://tradaco.123corp.com.vn/template/Default/img/top-bg.png');
        display: none;
        z-index: 300;
    }

    .bgr-navbar {
        background-color: #e0b926;
        border: 2px solid #e0b926;
    }

    .clip-path-navbar {
        -webkit-clip-path: polygon(0 0, calc(100% - 36px) 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, calc(100% - 36px) 0, 100% 100%, 0% 100%);
    }

    .nav-item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .text-body {
        font-weight: 400 !important;
    }

    .text-white {
        font-size: 16px;
    }

    .nav-item a {
        color: #660000;
        font-weight: 700;
        line-height: 24px;
    }

    .translate-icon {
        width: 40px;
        height: 25px;
    }

    .text-white:hover {
        color: #B1F974 !important;
    }

    .navbar-responsive {
        box-shadow: 0px 0px 10px 0 rgba(67, 67, 69, 0.35);
        position: fixed;
        z-index: 20;
        background-color: aliceblue;
        width: 99vw;
    }

    .bg-white {
        border-color: #88D6FA !important;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 110;
        top: 90%;
    }

    button {
        background-color: aliceblue;
        border: none;
    }

    .dropdown-child2nd:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropdown-child1st {
        display: block
    }

    @media (max-width: 1100px) and (min-width: 992px) {
        .nav-item a {
            font-size: 16px;
        }
    }

    .dropdown-child1st {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 110;
        top: calc(100% + 2px);
        min-width: 230px;
    }

    * {
        overflow: visible;
    }

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .text-body:hover {
        color: #E1100C !important;
    }

    .navbar {
        padding: 0px;
    }

    .nav-item {
        border-bottom: 2px solid #e0b926;
    }

    .nav-item:hover {
        border-bottom: 2px solid #E1100C;
        transition: 0.5s all ease;
    }

    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }

    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
</style>

<script>
    export default {
        data() {
            return {
                IsShowSideBar: false,
                IsShowDropdown: false,
                IsShowDropdown1: false
            }
        },
    }
</script>