<template>
    <div>
        <div  class="mt-lg-3">
            <img class="bgr-image-page" src="http://tradaco.123corp.com.vn/data/upload/4a12aa0a-82be-11e3-8119-00144feab7de.jpg" style="width:99vw" alt="">
        </div>
        <div class="container mt-4 pt-1">
            <h2>
                DỊCH VỤ CỦA CHÚNG TÔI
            </h2>
            <hr>
            <div style="font-size:12px" class="pb-5">
                <b>
                    CÔNG TY CỔ PHẦN ĐẦU TƯ THƯƠNG MẠI - DỊCH VỤ LOGITICS TRADACO
                </b>
                <SPan>
                    chuyên xản xuất các mặt hàng nông sản - thực phẩm khô để xuất khẩu. Đồng thời cung cấp các dịch vụ
                    logistics toàn diện tốt nhất để đáp ứng tất cả nhu cầu xuất nhập khẩu quốc tế cho các doanh nghiệp,
                    phục vụ cho nền kinh tế thế giới. Chúng tôi nổ lực tối đa hóa lợi nhuận cho khách hàng thông qua
                    mạng lưới đối tác giao nhận trên khắp thế giới và hệ thống thông tin liên lạc ổn định, nhanh chóng
                </SPan>
            </div>
            <DIV class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 image  position-relative">
                        <img class=" "
                            src="http://tradaco.com.vn/data/upload/Bn-trong-nh-my-sx-bm-du-truyn-nhit.jpg" alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4">
                            <i class="fas fa-arrow-right"></i>
                            nhà sản xuất thương mại
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 image">
                        <img class="" src="http://tradaco.com.vn/data/upload/cang1lamTT1.jpg" alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4">
                            <i class="fas fa-arrow-right"></i>
                            đại lý hải quan
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 image">
                        <img class=""
                            src="http://tradaco.com.vn/data/upload/photo-1-1492055215988-1492055238801-1548050113-.png"
                            alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4">
                            <i class="fas fa-arrow-right"></i>
                            vận tải đường biển
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 image">
                        <img class=""
                            src="http://tradaco.com.vn/data/upload/Hinh-nen-may-bay-dep-full-hd-Ohaylam.com-5.jpg"
                            alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4">
                            <i class="fas fa-arrow-right"></i>
                            vận tải hàng không
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 image mr-auto">
                        <img class="" src="http://tradaco.com.vn/data/upload/789469801907.jpg" alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4">
                            <i class="fas fa-arrow-right"></i>
                            vận chuyển hàng máy móc <br> công trình
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 image">
                        <img class="" src="http://tradaco.com.vn/data/upload/tin-hinh-thi-truong-xe-container-1.jpg"
                            alt="">
                        <div class="text-uppercase position-absolute box px-3 py-0.5 pr-4 overflow-hidden">
                            <i class="fas fa-arrow-right"></i>                            
                            vận tải nội địa
                        </div>
                    </div>
                </div>
            </DIV>
        </div>
        <div class="d-flex mb-5">
            <button class="button-bottom btn mx-auto">
            XEM TẤT CẢ
        </button>
        </div>
    </div>
</template>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

    * {
        font-family: 'Roboto',sans-serif;
    }

    .bgr-image-page {
        height: auto;
        overflow: visible;
    }

    .image {
        margin-bottom: 30px;
        padding-left: 0px;
        margin-left: auto;
    }

    .image img {
        width: 100%;
        max-height: 212px;
    }

    h2 {
        color: #660000;
        margin-bottom: 21px;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.5;
        overflow: hidden;
    }

    hr {
        width: 70px;
        height: 3px;
        background-color: #660000;
    }

    .button-bottom {
        padding: 14px 36px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 0;
        border-width: 2px;
        color: #333;
        background-color: transparent;
        border-color: #333;
        font-weight: 700;
    }

    .button-bottom:hover {
        border: 2px solid red;
        background-color: red;
        color: #ffffff;
    }

    .box {
        z-index: 10;
        top: 150px;
        left: 0px;
        font-size: 20px;
        color: #ffffff;
        background-color: #e0b926;
        font-size: 20px;
        display: inline;
        font-weight: 500;
        transition: 0.5s all ease;
        -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
        cursor: pointer;
    }

    .fa-arrow-right {
        display: none;
    }

    .image:hover .fa-arrow-right {
        display: inline;
    }

    @media (max-width:1200px) {
        .box {
            font-size: 16px !important;
        }
    }


</style>

<script>
    export default {
        components: {
            Slick: () => import('vue-slick')
        },
        mounted: function () {
            this.$nextTick(function () {
                this.slickComp = 'Slick'
            })
        },
        data() {
            return {
                slickOption1: {
                    slideToShow: 1,
                    autoplay: true,
                    dots: true,
                    arrows: true,
                    prevArrow: '<i class="fal fa-chevron-left position-absolute top-center left-0 px-2 py-3 bg-color-black-30 cursor-pointer z-index-100 text-white font-size-14"/>',
                    nextArrow: '<i class="fal fa-chevron-right position-absolute top-center right-0 px-2 py-3 bg-color-black-30 cursor-pointer z-index-100 text-white font-size-14"/>',
                },
                'slickComp': '',
            }
        }
    }
</script>